
@model TipoCuenta
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}
<h1>Crear Tipo de cuenta</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas. Ejemplos:_Prestamos, tarjetas de credito ,etc. </h5>
<div asp-validation-summary="ModelOnly" class="text-danger" >

</div>
<form asp-controller="TiposCuentas" asp-action="Crear">
    <div class="mb-3">
        <label aps-for="Nombre"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger" ></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control"  />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Edad" class="form-label"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Url" class="form-label"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="TarjetaDeCredito" class="form-label"></label>
        <input asp-for="TarjetaDeCredito" class="form-control" />
        <span asp-validation-for="TarjetaDeCredito" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}