@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CuentaCreacionViewModel
@{
    ViewData["Title" ]="Crear Cuenta";
}
<h1>Crear Cuenta</h1>
<h5>La cuenta se refiere a los distintos balacenes que tienes: tarjetas de credito , cuenta de ahorro,prestamos etc.

</h5>
<form asp-action="Crear" >
    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label" ></label>
        <input asp-action="Nombre" class="form-control"  />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TipoCUentaId" class="form-label" ></label>
        <select asp-for="TipoCUentaId" asp-items="Model.TiposCuentas"></select>
        <span asp-validation-for="TipoCUentaId" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label"></label>
        <textarea asp-for="Descripcion" class="form-control" ></textarea>
        <span asp-validation-for="Descripcion" class="text-danger" ></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}